*{
	box-sizing: border-box;
}

html, body{
	height: 200%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

}

h1{
	margin: 1rem 0;
}

section{
	background: lightgrey;
	border-bottom: 1px solid #000;
	min-height: 600px;
	margin-top: 2rem;
	outline: 1px solid red;
	position: relative;


}

.wrapper{
	max-width: 600px;
	margin: auto;
	position: relative;
	outline: 1px solid blue;

}

.row{
	width: 100%;

}

.col{
	width: 200px;
	height: 200px;
}

.electric-purple{
	background: #C200FB;
	position: absolute;
	top: 50%;
	left:50%;
	margin-left: -100px;
	margin-top: -100px;
}

.raspberry{
	background: #EC0868;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;

}

.ferrari-red{
	background: #FC2F00;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;


}

.black{
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
}

section:hover .electric-purple{
	left: 300%;
	margin-left: 100px;
	border-radius: 50%;
	background: yellow;

}

section .electric-purple{
	transition: .4s all ease;
}
