*{
	box-sizing: border-box;
}

html, body{
	height: 200%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

}

h1{
	margin: 1rem 0;
}

section{
	background: lightgrey;
	border-bottom: 1px solid #000;
	min-height: 600px;
	margin-top: 2rem;

}

.wrapper{
	max-width: 600px;
	margin: auto;

}

.row{
	width: 100%;

}

.col{
	width: 200px;
	height: 200px;
}

.electric-purple{
	background: #C200FB;

}

.raspberry{
	background: #EC0868;
	
}

.ferrari-red{
	background: #FC2F00;
	

}

.black{
	background: #000;
}

