*{
	box-sizing: border-box;
}

html, body{
	height: 200%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

}

h1{
	margin: 1rem 0;
}

section{
	background: lightgrey;
	border-bottom: 1px solid #000;
	height: 600px;
	margin-top: 2rem;
	position: relative;
}

.wrapper{
	max-width: 600px;
	margin: auto;
}

.row{
	width: 100%;
}

.col{
	width: 200px;
	height: 200px;
}

.electric-purple{
	background: #C200FB;
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 1;
}

.raspberry{
	background: #EC0868;
	position: absolute;
	top: 200px;
	right: 200px;
	z-index: 2;
	transition: 1s;
}

.ferrari-red{
	background: #FC2F00;
	position:fixed;
	top: 50%;
	left: 0;
	margin-top: -100px;

}

.ferrari-red:hover{
	background: #000;
	transition: 2s;
}

section:hover .raspberry{
	top: -200px;
	background: #005F6A;
	right: -200px;
}


::selection{
	background: white;
	color: white;
}
